build/
bin/
dist/
out/

*.o
*.obj
*.elf
*.bin
*.iso
*.img
*.map
*.log
.vscode/

.idea/

.vs/

.DS_Store
Thumbs.db

docs

*.css
*.html
*.js
Doxyfile
limine

limine/.git/

limine/BOOTAA64.EFI
limine/BOOTIA32.EFI
limine/BOOTLOONGARCH64.EFI
limine/BOOTRISCV64.EFI
limine/BOOTX64.EFI

limine/limine
limine/limine.exe

limine/limine-bios-cd.bin
limine/limine-bios-pxe.bin
limine/limine-bios.sys
limine/limine-uefi-cd.bin